<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
        <listener class-name="allureReports.AllureListener"/>
    </listeners>
    
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.dsalgo.qa.testcase.SignInPageTest"/>
      <class name="com.dsalgo.qa.testcase.ArrayPageTest"/>
      <class name="com.dsalgo.qa.testcase.RegisterPageTest"/>
      <class name="com.dsalgo.qa.testcase.DataStructurePageTest"/>
      <class name="com.dsalgo.qa.testcase.GetStartedTest"/>
      <class name="com.dsalgo.qa.testcase.HomePageTest"/>
      <class name="com.dsalgo.qa.testcase.TreePageTest"/>
      <class name="com.dsalgo.qa.testcase.GraphPageTest"/>
      <class name="com.dsalgo.qa.testcase.LinkedListPageTest"/>
      <class name="com.dsalgo.qa.testcase.QueuePageTest"/>
      <class name="com.dsalgo.qa.testcase.StackPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
